{
  "extends": ["eslint:recommended", "prettier", "plugin:eslint-plugin/recommended"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "node": true,
    "es2020": true
  },
  "rules": {
    "eslint-plugin/prefer-message-ids": "off", // TODO: enable
    "eslint-plugin/require-meta-docs-description": ["error", { "pattern": "^(Detects|Enforces|Requires|Disallows) .+\\.$" }],
    "eslint-plugin/require-meta-docs-url": [
      "error",
      {
        "pattern": "https://github.com/eslint-community/eslint-plugin-security/blob/main/docs/rules/{{name}}.md"
      }
    ],
    "eslint-plugin/require-meta-schema": "off", // TODO: enable
    "eslint-plugin/require-meta-type": "off" // TODO: enable
  },
  "overrides": [
    {
      "files": ["test/**/*.js"],
      "globals": {
        "describe": "readonly",
        "it": "readonly"
      }
    }
  ]
}
