name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install Packages
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Lint Files
        run: npm run lint

  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: [22.x, 24.x, lts/*]
        include:
          - os: windows-latest
            node: lts/*
          - os: macOS-latest
            node: lts/*
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - name: Install Packages
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Test
        run: npm test
